In [2]:
import pandas as pd
#Empty DataFrame
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
emp=pd.Series(['Parker','John','smith','william'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nseries to Data frame\n")
print(result)
print("\nExtracting one column:\n")
print(result['Emp'])

series to Data frame

       Emp   ID
0   Parker  102
1     John  107
2    smith  109
3  william  114

Extracting one column:

0     Parker
1       John
2      smith
3    william
Name: Emp, dtype: object

In [11]:
print("\nAdding new column:|n")
result['Age']=pd.Series([35,24,40,38])
print(result)

Adding new column:|n
       Emp   ID  Age
0   Parker  102   35
1     John  107   24
2    smith  109   40
3  william  114   38

In [14]:
print("\nDeleting one column:\n")
del result['Age']
print(result)

Deleting one column:

       Emp   ID
0   Parker  102
1     John  107
2    smith  109
3  william  114

In [20]:
print("\n Extracting the third row:\n")
print(result.loc[2])

 Extracting the third row:

Emp    smith
ID       109
Name: 2, dtype: object

In [28]:
print("\nSlicerows:\n",result[1:3])

Slicerows:
      Emp   ID
1   John  107
2  smith  109

In [31]:
print("\nDeleting particular row:\n",result.drop(1))

Deleting particular row:
        Emp   ID
0   Parker  102
2    smith  109
3  william  114